:root {
    --darkCyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    --veryDarkBlue: hsl(212, 21%, 14%);
    --darkGrayishBlue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
    --link: hsl(228, 45%, 44%);
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    border: 0;
    padding: 0;
    outline: 0;
}

body {
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    color: var(--darkGrayishBlue);
    background-color: var(--cream);
}

a {
    text-decoration: none;
    color: var(--link);
}

img {
    max-inline-size: 100%;
    block-size: auto;
}

button {
    font-weight: inherit;
    font-family: inherit;
    cursor: pointer;
}

.main {
    /* min: 320px; max: 375px */
    min-width: 20rem;
    max-width: 23.4375rem;
    /* 144px */
    margin: 9rem auto;
    padding: 0 1rem;
}

.container {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    background-color: var(--white);
    overflow: hidden;
}

.illustration {
    display: flex;
}

.illustration .img-desktop {
    display: none;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 1.5rem 1.5rem;
}

.product-type {
    /* 14px */
    font-size: .875rem;
    text-transform: uppercase;
    /* 4px */
    letter-spacing: .25rem;
}

.title {
    /* 32px */
    font-size: 2rem;
    font-weight: 700;
    font-family: 'Fraunces', serif;
    color: var(--veryDarkBlue);
}

.description {
    /* 14px */
    font-size: .875rem;
    line-height: 1.6;
}

.price {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.darkCyan {
    font-size: 2rem;
    font-weight: 700;
    font-family: 'Fraunces', serif;
    color: var(--darkCyan);
}

.line-throught {
    /* 14px */
    font-size: .875rem;
    text-decoration: line-through;
}

.button-add-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    border-radius: .5rem;
    padding: 1rem;
    font-weight: 700;
    color: var(--white);
    background-color: var(--darkCyan);
}

.attribution {
    /* 11px */
    font-size: 0.6875rem;
    text-align: center;
}

.attribution a {
    color: var(--darkCyan);
    font-weight: 700;
    font-family: 'Fraunces', serif;
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: inherit;
}