/* 1440px */
@media (min-width: 90rem) {
    .main {
        /* 640px */
        max-width: 40rem;
        padding: 0;
    }

    .container {
        flex-direction: row;
    }

    .illustration {
        width: 50%;
    }

    .illustration .img-mobile {
        display: none;
    }

    .illustration .img-desktop {
        display: block;
        object-fit: cover;
    }

    .content {
        width: 50%;
        gap: 2rem;
        padding: 2.5rem;
    }

    .button-add-cart:hover {
        opacity: .8;
    }

    .attribution a {
        font-size: 1rem;
    }
}