/* 1440px */
@media (min-width: 90rem) {
    .main {
        /* 600px */
        max-width: 37.5rem;
        padding: 0;
    }

    .container {
        flex-direction: row;
    }

    .illustration .img-mobile {
        display: none;
    }

    .illustration .img-desktop {
        display: block;
    }

    .content {
        /* 600px */
        width: 37.5rem;
    }

    .content {
        gap: 2rem;
        padding: 2.5rem;
    }

    .button-add-cart:hover {
        opacity: .8;
    }
}
